/* CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
  }
  
  .logo{
     height: 70px;
     width: 70px;
     margin-left: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }

  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
    background-color: #a612da; 
    border-radius: 5px;
  }
  
  .body {
    margin: 0;
    height: 89vh;
    text-align: center;
    background-image: url('./components/Home Page/hombg.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1px; 
    padding-bottom: 0px;
    color: white;
  }

  h1 {
   margin-top: 70px;
   font-size: 2.5rem;
  }

  .search-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    margin-top: 10rem;

  }
  
  .search {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .search-input {
    flex: 1; 
    padding: 10px; 
    width: 18rem;
  }
  
  .search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a612da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #a612da;
  }

  .media-icons {
    position: absolute;
    bottom: 30px;
    left: 20%;
    
  }
  
  .media-icons .facebook, .github, .linkedin {
    display: inline-block;
    margin: 0px 100px;
  }
  
  
  